<nav>
    <a href="index.html">Home</a>
    <% if(!isLoggedIn){ %>
    <a href="login">Login</a>
    <a href="register">Register</a>
    <% } else { %>
    <a href="logout">Logout</a>
    <a href="app">Application</a>
    <% } %>
</nav>